#ScreenShot li > .fa {
  color: #b00021;
  border: 2px solid;
  border-radius: 20px;
  margin: 4px;
  padding: 3px;
}

#ScreenShot li {
  list-style-type: none;
}

#ScreenShot p {
  font-size: 18px;
}

#ScreenShot h2 {
  font-weight: bold;
}

#ScreenShot img {
  max-width: 100%;
  height: auto;
  border: 3px solid #333;
  border-radius: 5px;
}

#ScreenShot .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 20px 35px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 30px;
  border: 2px solid #fff;
  background: #b00021;
  color: #fff;
  text-decoration: none;
  margin-left: 3px;
}

#ScreenShot hr {
  margin-top: 100px;
  border: none;
  border-top: 3px double #b00021;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}

#ScreenShot hr:after {
  background: #fff;
  content: "#";
  padding: 0 4px;
  position: relative;
  top: -13px;
}
