/* Section General Css Begin */
section {
    padding: 60px 0;
    overflow: hidden;
    background-color: #fff;
}
  
.section-bg {
    background-color: #f6f7f6;
}
  
.section-title {
    padding-bottom: 40px;
}
  
.section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
}
  
.section-title h2::after {
   content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #9ae1af;
    margin: 4px 10px;
}
  
.section-title p {
    margin: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #37423b;
}
/* Section General Css End */

/* Navbar Css Begin */
.nav {
    height: 50px;
    width: 100%;
    background-color: #B00021;
    position: relative;
    
}
  
.nav a{
    color:#fff!important;
}

.nav > .nav-header {
    display: inline;
}

.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff ;
    margin-left:10px;
    margin-top:3px;
    padding: 10px 10px 10px 10px;
}
 
.nav > .nav-header > .nav-title > .header{
    text-decoration: none;
}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links-right {
    display: inline;
    float: right !important ;
    font-size: 19px;
    margin-top:3px;
}
  
.nav > .nav-links-right > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    font-weight: 500;
    color: #ffffff !important;
}
  
.nav > .nav-links-right > a:hover {
    background-color: #fff;
    color:#B00021 !important;
    height:70px;
}
  
.nav > #nav-check {
    display: none;
}
  
@media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      height:60px
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid rgb(255, 255, 255);
    }
    .nav > .nav-links-right {
      position: absolute;
      display: block;
      width: 100%;
      float: right !important;
      background-color: #B00021;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links-right > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links-right {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links-right {
      height: calc(35vh - 50px);
      overflow-y: auto;
    }
}
/* Navbar Css End */

/* Ana Sayfa About Section Css Begin*/
#About li > .fa{
    color:#B00021;
    border:2px solid;
    border-radius: 20px;
    margin:4px;
    padding:3px;
}

#About li{
    list-style-type: none;
}

#About p> .fa{
    color:#B00021;
    font-size:20px;
}

#About h3{
    font-size:27px !important;
}
/*Ana Sayfa  About Section Css End */

/* Ana Sayfa Neden Biz CSS Begin */
.why-us .content {
    padding: 30px;
    background: #B00021;
    border-radius: 4px;
    color: #fff;
}
  
.why-us .content h3 {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 30px;
}
  
.why-us .content p {
    margin-bottom: 30px;
}
  
.why-us .icon-boxes .icon-box {
    text-align: center;
    background: #fff;
    padding: 40px 30px;
    width: 100%;
    border: 1px solid #eef0ef;
}
  
.why-us .icon-boxes .icon-box i {
    font-size: 32px;
    padding: 18px;
    color: #B00021;
    margin-bottom: 30px;
    background: #ecf9f0;
    border-radius: 50px;
}
  
.why-us .icon-boxes .icon-box h4 {
    font-size: 17px;
    font-weight: 700;
    margin: 0 0 30px 0;
}
  
.why-us .icon-boxes .icon-box p {
    font-size: 15px;
    color: #848484;
}
  /* Ana Sayfa Neden Biz CSS Begin */

  /* Ana Syafadaki Acordion Bölümü CSS Begin */
#Mentorsİnfo .accordion {
    background-color: #B00021;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-weight: bold;
    text-align: center;
}

#Mentorsİnfo .accordion > i{
    float: right;
}

#Mentorsİnfo .active, .accordion:hover {
    background-color: #fff;
    color:#B00021;
}
  
#Mentorsİnfo .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    margin: 4px;
} 

#Mentorsİnfo .headerinfo>i{
    color:#B00021;
}

#Mentorsİnfo .headerinfo> h6{
    font-size: medium;
    font-weight: bold;
    display: inline-block;
}
/* Ana Syafadaki Acordion Bölümü CSS End */

/* Ana Syafa Footer CSS Begin */
#footer {
    color: #37423b;
    font-size: 14px;
    background: #eef0ef;
  }
  
  #footer .footer-top {
    padding: 60px 0 30px 0;
    background: #f9faf9;
  }
  
  #footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-contact h4 {
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
  }
  
  #footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #777777;
  }
  
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer a{
      text-decoration: none !important;
      color:#444444 !important
  }
  
  #footer .credits {
    padding-top: 5px;
    font-size: 13px;
  }
  
  #footer .credits a {
    color: #B00021 !important;
    transition: 0.3s;
  }
  #footer .social-links{
    float:right !important;
    margin: 10px !important;
  }
  #footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #B00021;
    color: #fff !important;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer ul >li>.fa-chevron-right,.fa-arrow-right{
      border: none!important;
  }
  
  #footer .social-links a:hover {
    background: #fff !important;
    color: #B00021 !important;
    text-decoration: none;
  }
  
  #footer li > .fa{
    color:#B00021;
    border:2px solid;
    border-radius: 20px;
    margin:4px;
    padding:3px;
  }
  
  #footer li{
    list-style-type: none;
  }
  /* Ana Syafa Footer CSS End */
  