/* Left Side Bar Navi Css Begin */

#wrapper {
    overflow-x: hidden;
    
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  background-color: #2c3e50 ;
  color: #FAFAFA ;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.6rem;
  background-color: #1b2a38;
  height:80px;
  text-align: center;
  margin-top:14px !important;
}

#sidebar-wrapper .sidebar-heading a{
  text-decoration: none;
  color:#FAFAFA
}

#sidebar-wrapper .list-group-item-action {
  width: 15rem;
  background-color: #2c3e50 !important;
  color: #FAFAFA;
  margin-top:10px;
  margin-bottom:15px;
  font-size:1.09em;
}

#sidebar-wrapper .list-group{
    margin-top:60px !important;
}

#sidebar-wrapper .list-group-item > .fa{
    margin-right:20px;
     font-size:1.16em;
}

#sidebar-wrapper .social-links a {
    display: inline-block;
    background: #2c3e50;
    color: #fff;
    padding: 8px 0;
    font-size: 14px;
    text-align: center;
    margin-top:40px;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#sidebar-wrapper .copyright{
    font-size: 13px;
    margin-left:24px   
}
/* Left Side Bar Navi Css End */
    
#page-content-wrapper {
  min-width: 100vw;
  background-color: #EDEDED;
}

#page-content-wrapper .navbar  {
    background-color: #B00021;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

/* Navbar Links Css Begin */
.nav-item .fa,.fa-hand-point-left{
    color: #fff;
    font-size:22px;
}

.nav-item .dropdown-toggle{
    color: #fff !important;
    margin-left: 5px;
}
/* Navbar Links Css End */

/* Kurum Bilgileri Css Begin */
.content{
    margin: 0px !important;
    padding: 0px !important;
}

.content .img{
    width:10000px;
    height:250px
}

.content .card-header{
    font-size:20px;
    font-weight:bold;
}

.krmBilgiSpan{
    color:#B00021;
    font-weight: bold;
}
/* Kurum Bilgileri Css End */

/* Notlar Css Begin  */
.stickyh2 {
  font-weight: bold;
  font-size: 1.60rem;
}

.stickyp {
  font-size: 1rem;
}

.stickyul,.stickyli{
  list-style:none;
}

.stickyul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px !important;
  padding: 0px !important;
}

.stickyul .stickyli .stickya{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:auto;
  width:20em;
  padding:1em;
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  margin:10px
}

.stickyInfoSpan{
  font-weight: bold;
}

.stickyInfoUl{
  margin:0px;
  padding:0px;
}

.stickyInfoLi{
  margin:10px;
}

.stickyInfoA{
  text-decoration: none;
  color: #B00021;
}

.stickyInfoA:hover{
  text-decoration: none;
  color: #B00021;
}

.stickyInfoInput{
  width:120px;
  margin: 3px;
}

.stickyul .stickyli:nth-child(even) .stickya{
  position:relative;
  background:#cfc;
}

.stickyul .stickyli:nth-child(3n) .stickya{
  position:relative;
  background:#ccf;
}

.stickyul .stickyli:nth-child(5n) .stickya{
  position:relative;
  background:#fcf;
}

.stickyul .stickyli .stickya:hover,.stickyul .stickyli .stickya:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  /* transform: scale(1.5); */
  position:relative;
  z-index:5;
}

.stickyul .stickyul{
  margin:1em;
}

.noteTime{
  width: 185px !important;
}
/* Notlar Css End  */

/* Sorular Css Begin */
.questionCard{
  box-shadow:5px 5px 7px rgba(0,0,0,.7);
  padding:0px;
}

.questionIcon{
  color:#B00021
}

.questionbtn{
  background-color: #3f4e5c;
  color:#fff;
  margin-top:10px;
}

.questionbtn:hover{
  background-color: #273542;
  color:#fff;
}
/* Sorular Css End */

/* Toplantılar Css Begin */
.toplantiCard p{
  margin:3px;
  font-weight: 600;
}

.toplantiCard span{
  margin:3px;
  color:#B00021;
  font-weight: 500;
}

.toplantiCard img{
  width:120px;
  height:auto;
  margin: 1px;
  border-radius: 3px;
}
/* Toplantılar Css End */

/* Mentor Bilgileri Css Begin */
.bilgiicon{
  border:2px solid #861e33;
  padding:15px;
  border-radius:30px;
  background-color:#B00021;
  color:#fff;
  font-size:1.2em;
  font-weight: 600;
}

.bilgiSpan{
  color:#B00021;
  font-weight: 500;
}
/* Mentor Bilgileri Css End */

/* General Css Begin */
.headerH3 span{
  color:#B00021
}

/* General Css End */
